<% @book.each do |book| %>
<div>
  <p>Title</p>
  <span><%= book.title %></span>
  <p>Opinion：</p>
  <span><%= book.opinion %></span>
  <p>ユーザーネーム：</p>
  <span><%= book.user.name %></span>
</div>
<% end %>
