<h2>Books</h2>
<% @books.each do |book| %>
<div>
  <table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <%= image_tag book.user.get_image %>
    <tr>
      <td><%= link_to book.title, book_path(book.id) %></td>
      <td><%= book.body %></td>
    </tr>
  </tbody>
  
  </table>
</div>
<% end %>
