<h2>Book detail</h2>

<table class="table">
  <tbody>
    <tr>
      <td><%= image_tag 'no_image.jpeg' %>
       <p><%= @book.user_id %></p></td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
    </tr>
  </tbody>
</table>